@model Inventory.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="itemform" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescrition" class="control-label"></label>
                <input asp-for="ItemDescrition" class="form-control" />
                <span asp-validation-for="ItemDescrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label"></label>
                <input asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div id="itemSuccessMsg" class="alert alert-success" style="display:none">
            Item Created SuccessFully
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#itemform').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Item/Create',
            data: $(this).serialize(),
            success: function (response) {
                $('itemSuccessMsg').show();
            },
            error: function () {
                alert('Something went wrong');
            }
            contentType: 'application/json',
        });
    });
</script>
